*{
    margin:0px ;
    padding: 0px;
}
.main img{ 
  height:109px;
    width: 500px;
  
    background-position:center;
    background-size: cover;
  
}
.navbar{
    width: 200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    height: 70px;
    float: left;
}
.logo{
    color: #ff7200;
    font-size:35px ;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.fas{
    height: 20px;
}
.fa-shopping-cart{
    height: 30px;
}
#menu-btn{
    height: 20px;
}